#!/bin/bash
source_up_if_exists
[ -e .venv/bin/activate ] && source .venv/bin/activate
# This is a dummy value.
export ENCRYPTION_KEY=YenxIAHqvrO7OHbNXvzAxEhthHCaitvnV9CALkQvvCc=
export FLASK_APP="server:create_app()"
DATABASE_URL=sqlite:////$(pwd)/dev/db.sqlite
export DATABASE_URL
export FLASK_SECRET_KEY=dummy-key-dummy-value
[ ! -e dev/certs/ca.crt ] && python3 dev/generate_ca.py
export CA_CERT_PATH=dev/certs/ca.crt
export CA_KEY_PATH=dev/certs/ca.key
export OIDC_ADMIN_GROUP=ovpn_admins
