{% extends "base.html" %}

{% block title %}Welcome - OVPN Manager{% endblock %}

{% block content %}
    <h1>OVPN Manager</h1>
    <p style="margin-top: 2em;">
        <a id="start-generator" href="{{ url_for('auth.login', optionset='default') }}" style="text-decoration: none; background-color: #0052cc; color: white; padding: 10px 20px; border-radius: 4px;">Run configuration generation process</a>
    </p>
    
    <details style="margin-top: 2em; text-align: left;">
        <summary style="cursor: pointer; font-weight: 500; color: #0052cc;">
            Click here for advanced options
        </summary>
        <form id="option-form" style="text-align: left; margin-top: 2em;">
            <h3>Configuration Options</h3>
            {% for name in optionsets.keys() | sort %}
                <div>
                    <input type="radio" id="option-{{ name }}" name="optionset" value="{{ name }}" {% if name == 'default' %}checked{% endif %}>
                    <label for="option-{{ name }}">{{ name }}</label>
                </div>
            {% endfor %}
        </form>
    </details>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('option-form');
            const loginLink = document.getElementById('start-generator');
            
            form.addEventListener('change', function(event) {
                if (event.target.name === 'optionset') {
                    const selectedOption = event.target.value;
                    const newUrl = new URL(loginLink.href);
                    newUrl.searchParams.set('optionset', selectedOption);
                    loginLink.href = newUrl.href;
                }
            });
        });
    </script>
{% endblock %}